#
# Copyright © 2021 92AK
#

#####################################################################
#  GITHUB CONFIGURATION                                             #
#####################################################################
GITHUB_API=https://api.github.com
GITHUB_UPLOAD_API=https://uploads.github.com
REPO_OWNER=
REPOSITORY=
GITHUB_API_TOKEN=
DRAFT_RELEASE=true
PREFIX_RELEASE=
