<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) ${YEAR} 92AK
  -->

<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="MainFileAppender" fileName="${sys:user.home}/.pz/logs/pz.log" filePattern="${sys:user.home}/.pz/logs/pz-%d{yyyyMMdd}.log.gz" bufferedIO="true" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${sys:user.home}/.pz/logs" maxDepth="2">
                    <IfFileName glob="pz*.log.gz" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.ntak" level="debug" additivity="false">
            <AppenderRef ref="MainFileAppender"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="MainFileAppender"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>
